In [11]:
!pwd

/Users/jeannetaoliviasantoso/final_project/data_dump

In [19]:
import sqlalchemy as sa
from sqlalchemy import create_engine
import pandas as pd
import time

In [29]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy as sa

def connect_to_db(username, password, host, port, database):

    try:
        # Create connection URL
        connection_url = sa.URL.create(
            "postgresql+psycopg2",
            username=username,
            password=password,
            host=host,
            port=port,
            database=database
        )

        # Create and return the SQLAlchemy engine
        engine = create_engine(connection_url)
        print("Database connection established successfully")
        return engine
    except Exception as e:
        print(f"Error connecting to the database: {e}")
        return None

def load_multiple_csvs_to_db(engine, csv_file_paths, table_names, if_exists_option='append', sleep_time=30):

    if len(csv_file_paths) != len(table_names):
        print("Error: The number of CSV file paths must match the number of table names.")
        return

    for csv_path, table_name in zip(csv_file_paths, table_names):
        try:
            # Load the data from the current CSV file
            data = pd.read_csv(csv_path)

            # Write the data to the database
            data.to_sql(table_name, engine, if_exists=if_exists_option, index=False)
            print(f"Data from '{csv_path}' inserted successfully into table '{table_name}'")
        except Exception as e:
            print(f"Error occurred while processing '{csv_path}': {e}")
        
        # Pause for the specified sleep time
        print(f"Waiting for {sleep_time} seconds before processing the next file...")
        time.sleep(sleep_time)

    print("Finish the job.")

In [30]:
# Database connection details
username = 
password = 
host = 
port = 
database = 

# Create the database engine
engine = connect_to_db(username, password, host, port, database)

Database connection established successfully

In [31]:
csv_file_paths = [
    "csv_file/data_management_payroll_update.csv",
    "csv_file/data_performance_management_update.csv",
]

table_names = [
    "data_payroll_champy",
    "data_performance_champy"
]

In [32]:
# Ensure the database engine is created
if engine is not None:
    load_multiple_csvs_to_db(engine, csv_file_paths, table_names, sleep_time=30)

Data from 'csv_file/data_management_payroll_update.csv' inserted successfully into table 'data_payroll_champy'
Waiting for 30 seconds before processing the next file...
Data from 'csv_file/data_performance_management_update.csv' inserted successfully into table 'data_performance_champy'
Waiting for 30 seconds before processing the next file...
Finish the job.

USING pymysql

In [1]:
import pymysql
import pandas as pd

# MySQL connection details
username = 
password = 
host = 
port = 
database = 

# Establish a direct connection to MySQL
connection = pymysql.connect(
    host=host,
    user=username,
    password=password,
    database=database,
    port=port
)

# Load data from CSV
csv_path = "csv_file/data_management_payroll_update.csv"
data = pd.read_csv(csv_path)

# Table name
table_name = "data_payroll_champy"

# Create a cursor object
cursor = connection.cursor()

# Dynamically generate CREATE TABLE SQL based on the columns in the CSV
columns = ', '.join([f"{col} VARCHAR(255)" for col in data.columns])  # Assume all columns are VARCHAR for simplicity
create_table_sql = f"CREATE TABLE IF NOT EXISTS {table_name} ({columns});"

# Execute the CREATE TABLE query
cursor.execute(create_table_sql)

# Insert data into MySQL
for i, row in data.iterrows():
    sql = f"INSERT INTO {table_name} ({', '.join(data.columns)}) VALUES ({', '.join(['%s'] * len(row))})"
    cursor.execute(sql, tuple(row))

# Commit the transaction and close the connection
connection.commit()
cursor.close()
connection.close()

print("Data inserted successfully")

Data inserted successfully

USING sqlalchemy mysql

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/jeannetaoliviasantoso/anaconda3/lib/python3.12/site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus


# Database connection details
username = 
password = 
host = 
port = 
database = 


# URL encode the password to handle special characters
password = quote_plus("ftde03!@#")

# Using the MySQL connection string
connection_url = f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}"

# Create the SQLAlchemy engine
engine = create_engine(connection_url)

# Load data from CSV
csv_path = "csv_file/data_management_payroll_update.csv"
data = pd.read_csv(csv_path)

# Table name
table_name = "data_payroll_champy"

# Write data to the database using the engine
try:
    # pandas `to_sql` automatically handles the connection through SQLAlchemy
    data.to_sql(table_name, engine, if_exists='append', index=False)
    print("Data inserted successfully")
except Exception as e:
    print(f"Error occurred: {e}")

Data inserted successfully

MYSQL data dump function

In [34]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import time

# Function to create a connection to MySQL
def create_mysql_connection(username, password, host, port, database):
    # URL encode the password to handle special characters
    encoded_password = quote_plus(password)

    # Create the engine with the encoded password
    engine = create_engine(f"mysql+mysqlconnector://{username}:{encoded_password}@{host}:{port}/{database}")
    
    # Test the connection
    try:
        with engine.connect() as connection:
            print("Successfully connected to MySQL!")
    except Exception as e:
        print(f"Error connecting to MySQL: {e}")
        raise
    return engine

# Function to load multiple CSV files into corresponding MySQL tables
def load_csv_to_mysql(csv_files, table_names, username, password, host, port, database, sleep_time=30):
    # Create the MySQL connection engine
    engine = create_mysql_connection(username, password, host, port, database)
    
    # Ensure that the number of CSV files matches the number of table names
    if len(csv_files) != len(table_names):
        print("Error: The number of CSV files does not match the number of table names.")
        return
    
    for csv_path, table_name in zip(csv_files, table_names):
        try:
            # Load data from CSV
            data = pd.read_csv(csv_path)

            # Write data to the database using the engine
            data.to_sql(table_name, engine, if_exists='append', index=False)
            print(f"Data from {csv_path} inserted successfully into {table_name}.")

            # Sleep for the specified amount of time
            print(f"Waiting for {sleep_time} seconds before proceeding to the next file...")
            time.sleep(sleep_time)
        
        except Exception as e:
            print(f"Error occurred while processing {csv_path}: {e}")
            
    print("Finish the job.")

In [35]:
# Usage Example
# Database connection details
username = 
password = 
host = 
port = 
database = 

csv_files = [
    "csv_file/data_training_development_update.csv"
]

table_names = [
    "data_training_champy"
]

# Call the function to load data from CSV to MySQL
load_csv_to_mysql(csv_files, table_names, username, password, host, port, database, sleep_time=30)

Successfully connected to MySQL!
Data from csv_file/data_training_development_update.csv inserted successfully into data_training_champy.
Waiting for 30 seconds before proceeding to the next file...
Finish the job.

In [17]:
csv_file_paths_read = [
    "csv_file/data_management_payroll_update.csv",
    "csv_file/data_performance_management_update.csv",
    "csv_file/data_training_development_update.csv",
    "csv_file/data_recruitment_selection_update.csv"
]

In [10]:
save = 'csv_file/data_management_payroll_update.csv'

In [14]:
save[save.find('/') + 1:-4]

'data_management_payroll_update'

In [23]:
for r in csv_file_paths_read:
    df = pd.read_csv(r)
    print(f"File name: {r[r.find('/') + 1:-4]}")
    print(df.columns.tolist())
    print()

File name: data_management_payroll_update
['EmployeeID', 'Name', 'Gender', 'Age', 'Department', 'Position', 'Salary', 'OvertimePay', 'PaymentDate']

File name: data_performance_management_update
['EmployeeID', 'Name', 'ReviewPeriod', 'Rating', 'Comments']

File name: data_training_development_update
['EmployeeID', 'Name', 'TrainingProgram', 'StartDate', 'EndDate', 'Status']

File name: data_recruitment_selection_update
['CandidateID', 'Name', 'Gender', 'Age', 'Position', 'ApplicationDate', 'Status', 'InterviewDate', 'OfferStatus']